#eclipse
**/.classpath
**/.settings/*
**/.project
*.log
**/target/
*.class
.DS_Store
.tags
target/*
*~
#idea
*.class
/target/*
.project
.DS_Store
*.log
.idea/*
.idea/uiDesigner.xml
*.iml
**/.idea/
/target/
/java/**/*.iml



